<!DOCTYPE html>
<html>
<body>

<div ng-controller='dettDipendenteController',ng-app="app">

		<h2 class="display-8" ng-bind="titolo"
			style="margin-top: 50px; text-align: center"></h2>
		<hr class="my-8">
		<p style="text-align: center">Elenco Dettaglio Dipendenti</p>

		<section class="container">
			<div ng-show="dipendenti.length > 0">
				<table id="dipendenti" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Id</th>
							<th scope="col">Livello Anzianita</th>
							<th scope="col">Id Dipendente</th>
							<th scope="col">Id ruolo</th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="dipendente in dipendenti | filter:{ nome:ricercaDipendentiNome }">
							<td>{{index + 1}}</td>
							<td><span ng-bind="dipendente.idDipendente"></span></td>
							<td><span ng-bind="dipendente.nome"></span></td>
							<td><span ng-bind="dipendente.cognome"></span></td>
							<td><span ng-bind="dipendente.eta"></span></td>
							<td><span ng-bind="dipendente.luogoResidenza"></span></td>
							<td><span ng-bind="dipendente.dataNascita"></span></td>
							<td><span ng-bind="dipendente.recapito"></span></td>
							<td><span ng-bind="dipendente.codiceFiscale"></span></td>
							<td><a ng-click="elimina(dipendente.idDipendente)"
								class="btn btn-danger table-buttons">Elimina</a></td>
							<td><a ng-click="modifica(dipendente.idDipendente)"
								class="btn btn-primary table-buttons" data-toggle="modal"
								data-target="#exampleModal2">Modifica</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div ng-hide="dipendenti.length > 0">
				<h4>Nessun Dipendente inserito</h4>
			</div>
		</section>



</div>

</body>
</html>